<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
<connectionStrings>
    <add name="ConnctionPOS" connectionString="Data Source=.; Initial Catalog=POS; User Id=SA; Password=IDB@R40;"
        providerName="System.Data.SqlClient" />
    <add name="POS.Properties.Settings.POSConnectionString" connectionString="Data Source=.;Initial Catalog=POS;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>


